Repository unb-mds/2024-1-squad04, pull requests merged in 2024-08, with the labels that each got.

#128 feat: adicionado os testes das funções utilitarias do front-end
  vue-app/jest.config.js
  vue-app/package-lock.json
  vue-app/package.json
  vue-app/src/generals/descriptografarDados.js
  vue-app/src/generals/encripitarDados.js
  vue-app/src/generals/verificarPalavrao.js
  vue-app/src/guards/authGuard.js
  vue-app/src/repositories/professor/enviarAvaliacaoProfessor.js
  vue-app/src/repositories/professor/obterProfessor.js
  vue-app/src/repositories/usuario/cadastrarUsuario.js
  vue-app/src/repositories/usuario/obterAvaliacoesUsuario.js
  vue-app/src/routes/index.js
  vue-app/src/service/avaliacao/deletarAvaliacao.js
  vue-app/tests/unit/LikeDislike/deletarLikeDislikeMateria.spec.js
  vue-app/tests/unit/LikeDislike/deletarLikeDislikeProfessor.spec.js
  vue-app/tests/unit/LikeDislike/enviarLikeDislikeMateria.spec.js
  vue-app/tests/unit/LikeDislike/enviarLikeDislikeProfessor.spec.js
  vue-app/tests/unit/criptografias/criptografarDados.spec.js
  vue-app/tests/unit/criptografias/descriptarDados.spec.js
  vue-app/tests/unit/guards/authGuard.spec.js
  vue-app/tests/unit/inputs/verificarInputs.spec.js
  vue-app/tests/unit/inputs/verificarPalavrao.spec.js
  vue-app/tests/unit/materias/enviarAvaliacaoMateria.spec.js
  vue-app/tests/unit/materias/obterMaterias.spec.js
  vue-app/tests/unit/professor/enviarAvaliacaoProfessor.spec.js
  vue-app/tests/unit/professor/obterProfessor.spec.js
  vue-app/tests/unit/usuario/cadastrarUsuario.spec.js
  vue-app/tests/unit/usuario/editarRelacionamentoUsuarioComentario.spec.js
  vue-app/tests/unit/usuario/getUsuarioLogado.spec.js
  vue-app/tests/unit/usuario/obterAvaliacoesUsuario.spec.js
  vue-app/tests/unit/usuario/obterInformacoesPerfilUsuario.spec.js
  vue-app/tests/unit/usuario/obterUsuarios.spec.js
Labels: documentation, High priority, Test

#132 chore: adiciona o fluxo da pipeline
  .github/workflows/testing.yml
  vue-app/tests/components/AvaliacaoMateriaComponents.spec.js
  vue-app/tests/components/rules.txt
Labels: High priority, Test, Build

#134 refactor: diminui a quantidade de dados sensíveis indo para o client …
  node-app/controllers/UserMET.js
  node-app/index.js
  vue-app/src/pages/CadastroPage.vue
  vue-app/src/pages/LoginPage.vue
  vue-app/src/repositories/usuario/cadastrarUsuario.js
  vue-app/src/repositories/usuario/obterUsuarios.js
Labels: API Integration, fix, High priority, Refactor, Security

#137 test: Ajusta testes para as modificações feitas na autenticação de usuário
  vue-app/src/pages/LoginPage.vue
  vue-app/src/repositories/usuario/autenticarUsuario.js
  vue-app/src/repositories/usuario/obterUsuarios.js
Labels: High priority, Test
